<!DOCTYPE html>
<html>
<head>
    <title>DevOps Scratch Project</title>
    <style>
        body { font-family: sans-serif; text-align: center; margin-top: 100px; background-color: #f4f6f9; }
        h1 { color: #2c3e50; }
        p { color: #7f8c8d; font-size: 18px; }
    </style>
</head>
<body>
    <h1>Success!</h1>
    <p>This deployment was completely automated using Terraform and Ansible Roles.</p>
</body>
</html>
